body, html {
  padding: 0;
  margin: 0;
  font-family: Kanit;
}
* {
  box-sizing: border-box;
}

.bg {
  /* background: url('http://netdna.webdesignerdepot.com/uploads/2013/06/featured48.jpg') repeat; */
  background: #f4f4f4;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}
.content {
  color: #777;
  font-weight: 300;
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
  line-height: 2;
  padding-top: 80px;
}

/* 1: HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.header__content:after {
  content: '';
  display: block;
  clear: both;
}
.header__content > div {
  float: left;
}
.header__long-section {
  width: 41.66666667%;
  padding-top: 20px;
}
.header__long-section div {
  float: left;
  width: 33.33333333%;
}
.header__long-section a {
  display: block;
}
.header__long-section a:hover {
  background: #da0f03;
}
.header__short-section {
  width: 16.66666667%;
  padding-top: 20px;
}
.header__short-section a {
  display: block;
}
header a {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  padding: 8px 12px;
}
